/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #fff 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    width: 100%;
    background: #eee;
    background-image: linear-gradient(to bottom, #eee, #eee 100%);
    padding: 0px;
    margin-top: 10px;
    position: relative;
}

#login-buttons {
    display: block;
    padding-left: 25px;
}

.login-btns {
    float: right;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
}
.xnew-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.xnew-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    background: none;
    color: #888888;
    font-size: 1.5em;
    border: none;
    position: relative;
}

.delete:hover {
    color: red;
    font-size: 1.55em;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
    color: #000;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: left;
    padding-left: 14px;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .xnew-task input {
        padding-bottom: 5px;
    }
}

.title-badge {
    font-size: 1em;
}

.center {
    text-align: center;
    padding-bottom: 0px;
}

.test-surface {
    background-color: #EBEBF1;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    padding: 20px;
    -webkit-user-select: none;
    font-size: 18px;
}