html {overflow-y: scroll;}

body {
    font-family: sans-serif;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #fff 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    width: 100%;
    background: #eee;
    background-image: linear-gradient(to bottom, #eee, #eee 100%);
    padding: 0px;
    margin-top: 10px;
}


#login-buttons {
    display: block;
}

.login-btns {
    float: right;
}

#login-username {
    width: 68%;
}

#login-password {
    width: 67%;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.task-cont {
    opacity: 0;
    position: relative;
    top: 20px;
    transition: opacity 1500ms, top 700ms;
}

.task-cont.show {
    opacity: 1;
    top: 0
}

.delete {
    float: right;
    position: relative;
}

.delete-icon {
    color: #33ccff;
}

.delete-icon:hover {
    color: red;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    transition:all 900ms 0ms ease-in;
}

li .text {
    margin-left: 10px;
    color: #000;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: left;
    padding-left: 14px;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }
}

.title-badge {
    font-size: 1em;
}

.center {
    text-align: center;
    padding-bottom: 0px;
}